/* line 2, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_typography.scss */
body {
  font-family: "Open Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  color: #333;
}

/* line 16, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_typography.scss */
p {
  color: #333;
}

/* line 21, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_typography.scss */
.content-sections p a {
  color: #20639B;
  transition: all 0.3s;
  text-decoration: underline;
}

/* line 25, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_typography.scss */
.content-sections p a:hover, .content-sections p a:focus {
  text-decoration: none;
}

/* line 4, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
a.button {
  background: #20639B;
  border-radius: 3px;
  color: #fff;
  padding: 13px 15px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  font-weight: 500;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  border-radius: 0;
  text-decoration: none;
}

/* line 15, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_mixins.scss */
a.button:hover {
  background: #3CAEA3;
  transition: all 0.3s ease;
}

/* line 19, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_mixins.scss */
a.button:active {
  background: #0a2031;
}

/* line 9, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.no-bullet {
  list-style-type: none;
}

/* line 14, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.checklist, .checklist ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 18, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.checklist li, .checklist ul li {
  font-size: 18px;
  padding-left: 28px;
  padding-bottom: .5em;
}

/* line 22, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.checklist li:before, .checklist ul li:before {
  content: '';
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  content: '\f00c';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* line 35, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.linklist, .linklist ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 1em;
}

/* line 40, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.linklist li, .linklist ul li {
  font-size: 18px;
  margin-bottom: .25em;
  width: 100%;
  display: block;
}

/* line 45, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.linklist li a, .linklist ul li a {
  display: block;
  width: 100%;
  padding: 8px 15px;
  background-color: #f4f4f4;
  position: relative;
  color: #333;
}

/* line 52, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.linklist li a:after, .linklist ul li a:after {
  content: '\f054';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
  color: #20639B;
}

/* line 59, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.linklist li a:hover, .linklist ul li a:hover {
  background-color: #20639B;
  color: #fff;
}

/* line 62, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.linklist li a:hover:after, .linklist ul li a:hover:after {
  color: #fff;
}

/* line 70, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ol.numbered {
  counter-reset: my-counter;
  list-style: none;
  padding: 0;
  margin-left: 1.5em;
}

/* line 75, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ol.numbered li {
  margin-bottom: 10px;
  font-size: 18px;
  padding-left: 30px;
  position: relative;
}

/* line 81, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ol.numbered li:before {
  content: counter(my-counter);
  counter-increment: my-counter;
  color: #7faad6;
  display: block;
  float: left;
  line-height: 22px;
  margin-left: -25px;
  text-align: center;
  font-weight: 700;
  vertical-align: top;
  font-size: 18px;
  margin-top: 3px;
}

/*# sourceMappingURL=ckeditor.css.map */