/* line 2, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_typography.scss */
body {
  font-family: "Open Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  color: #333;
}

/* line 16, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_typography.scss */
p {
  color: #333;
}

/* line 21, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_typography.scss */
.content-sections p a {
  color: #20639B;
  transition: all 0.3s;
  text-decoration: underline;
}

/* line 25, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_typography.scss */
.content-sections p a:hover, .content-sections p a:focus {
  text-decoration: none;
}

/* line 4, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
a.button {
  background: #20639B;
  border-radius: 3px;
  color: #fff;
  padding: 13px 15px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  font-weight: 500;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  border-radius: 0;
  text-decoration: none;
}

/* line 15, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_mixins.scss */
a.button:hover {
  background: #3CAEA3;
  transition: all 0.3s ease;
}

/* line 19, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_mixins.scss */
a.button:active {
  background: #0a2031;
}

/* line 9, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.no-bullet {
  list-style-type: none;
}

/* line 14, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.checklist, .checklist ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 18, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.checklist li, .checklist ul li {
  font-size: 18px;
  padding-left: 28px;
  padding-bottom: .5em;
}

/* line 22, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.checklist li:before, .checklist ul li:before {
  content: '';
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  content: '\f00c';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* line 35, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.linklist, .linklist ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 1em;
}

/* line 40, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.linklist li, .linklist ul li {
  font-size: 18px;
  margin-bottom: .25em;
  width: 100%;
  display: block;
}

/* line 45, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.linklist li a, .linklist ul li a {
  display: block;
  width: 100%;
  padding: 8px 15px;
  background-color: #f4f4f4;
  position: relative;
  color: #333;
}

/* line 52, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.linklist li a:after, .linklist ul li a:after {
  content: '\f054';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
  color: #20639B;
}

/* line 59, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.linklist li a:hover, .linklist ul li a:hover {
  background-color: #20639B;
  color: #fff;
}

/* line 62, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ul.linklist li a:hover:after, .linklist ul li a:hover:after {
  color: #fff;
}

/* line 70, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ol.numbered {
  counter-reset: my-counter;
  list-style: none;
  padding: 0;
  margin-left: 1.5em;
}

/* line 75, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ol.numbered li {
  margin-bottom: 10px;
  font-size: 18px;
  padding-left: 30px;
  position: relative;
}

/* line 81, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_ckeditorstyles.scss */
ol.numbered li:before {
  content: counter(my-counter);
  counter-increment: my-counter;
  color: #7faad6;
  display: block;
  float: left;
  line-height: 22px;
  margin-left: -25px;
  text-align: center;
  font-weight: 700;
  vertical-align: top;
  font-size: 18px;
  margin-top: 3px;
}

/* line 1, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
main section + section {
  padding-top: 1em;
}

/* line 5, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
.content section:last-child {
  padding-bottom: 3em;
}

/* line 7, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
.content section:last-child.graybg {
  padding-bottom: 0em;
}

/* line 11, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
.paddedrow {
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}

/* line 18, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
#sectioncontainer .content-section:first-child.paddedrow {
  padding-top: 0;
  padding-bottom: 4.5em;
}

/* line 26, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
.content-section img {
  margin-bottom: 1em;
}

/* line 31, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
.float-center {
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 640px) {
  /* line 38, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
  .reverseorder .grid-x {
    display: flex !important;
    flex-direction: column-reverse;
  }
}

/* line 46, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
.button-grouped a {
  display: inline-block;
  margin-right: 12px;
}

/* line 49, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
.button-grouped a:last-child {
  margin-right: 0;
}

/* line 52, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
.button-grouped a .fas {
  float: left;
  margin-top: 3px;
  padding-right: 5px;
}

@media screen and (min-width: 480px) {
  /* line 59, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
  .button-grouped.samesize a {
    width: 22%;
  }
}

@media screen and (min-width: 768px) {
  /* line 59, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
  .button-grouped.samesize a {
    width: 30%;
  }
}

/* line 73, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}

/* line 77, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
  /* So they look staggered */
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

/* line 84, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_globals.scss */
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

/* line 2, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_forms.scss */
form {
  max-width: 90%;
}

/* line 5, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_forms.scss */
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

/* line 11, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_forms.scss */
label {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

/* line 17, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_forms.scss */
label.form-required:after {
  color: #ED553B;
  content: '*';
}

/* line 23, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_forms.scss */
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 1px solid #999;
  box-shadow: 0px 0px 0px 2px transparent;
  -webkit-transition: box-shadow 0.3s;
  transition: all 0.3s ease-in-out;
  max-width: 100%;
  margin-left: 2px;
}

/* line 45, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_forms.scss */
select {
  -webkit-border-radius: 0;
  box-shadow: none;
  border: 0;
  outline: 1px #999 solid;
  background-color: white;
  padding: 10px;
  height: 40px;
  vertical-align: top;
  font-size: 16px;
  -webkit-border-radius: 0px;
  display: inline-block;
  max-width: 100%;
  margin-left: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: url(../images/keyboard_arrow_down.svg) 98% 50% no-repeat;
  background-size: 20px;
}

/* line 67, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_forms.scss */
select::-ms-expand {
  display: none;
}

/* line 71, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_forms.scss */
textarea {
  resize: vertical;
  vertical-align: top;
}

/* line 77, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_forms.scss */
button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-size: 18px;
  padding: 13px 15px;
  line-height: 24px;
}

/* line 91, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_forms.scss */
input[type='button'], input[type='reset'], input[type='submit'] {
  background: #20639B;
  color: #fff;
  display: inline-block;
  padding: 9px 15px;
  line-height: 24px;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  border: 0;
  transition: all 0.25s ease-in-out;
}

/* line 13, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_admin.scss */
.block-local-tasks-block {
  max-width: 75rem;
  margin: 0 auto;
  display: block;
}

/* line 17, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_admin.scss */
.block-local-tasks-block ul {
  list-style-type: none;
}

/* line 19, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_admin.scss */
.block-local-tasks-block ul li {
  display: inline-block;
}

/* line 21, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_admin.scss */
.block-local-tasks-block ul li a {
  background: #20639B;
  border-radius: 3px;
  color: #fff;
  padding: 13px 15px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  font-weight: 500;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  border-radius: 0;
}

/* line 15, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_mixins.scss */
.block-local-tasks-block ul li a:hover {
  background: #3CAEA3;
  transition: all 0.3s ease;
}

/* line 19, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/globals/_mixins.scss */
.block-local-tasks-block ul li a:active {
  background: #0a2031;
}

/* line 2, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/components/views/_pagination.scss */
.view-pager ul {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
}

/* line 6, ../../../../../Users/msherman/Sites/sandbox/web/themes/custom/tbe_base/scss/components/views/_pagination.scss */
.view-pager ul li {
  display: inline-block;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */