
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    path_info.args ? 'path-' ~ path_info.args,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    
    <!-- if client has apple app, include this
    <meta name="apple-itunes-app" content="app-id=APPID GOES HERE">
    <meta name="google-play-app" content="app-id=APPID GOES HERE">
    -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">


  </head>
  <body{{ attributes.addClass(body_classes) }}>

      {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    <!--<a id="backTop" title="Go to top"><i class="fa fa-chevron-up"></i></a>-->
    <div class="fadeinbody">
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    </div>
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
