<header>
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12">
        <nav id="nav" class="menu">
          {{ page.primary_menu }}
        </nav>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12">
        <nav id="nav" class="menu">
          {{ page.secondary_menu }}
        </nav>
      </div>
    </div>
  </div>
</header>

<main id="main">
  {{ page.content }}
</main>

<footer>
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12">
        {{ page.footer }}
      </div>
    </div>
  </div>
</footer>
