.user-logged-in {

}

div[aria-label="Status message"] {

}

div[aria-label="Error message"] {

}

.block-local-tasks-block {
  max-width: 75rem;
  margin: 0 auto;
  display: block;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      a {
        @include button ($primary, $secondary);
      }
    }
  }
}

.path-user {

  .user-login-form {

  }
  #block-scdoc-local-tasks {

  }
}
