// BREAK POINTS
$breakpoints: (
'xs-phone': 320px,
'phone': 480px,
'tablet': 768px,
'desktop': 1024px,
'widescreen': 1200px
);

@mixin breakpoint($point) {
   @if $point == desktop{
    @media (min-width: 1100px) {
       @content;
    }
  }
  @if $point == mediumonly {
     @media (min-width: 640px) and (max-width: 1023px){
      @content;
    }
  }
  @if $point == mobileonly {
     @media (max-width: 640px){
      @content;
    }
  }
  @if $point == mediumdown {
     @media (max-width: 1024px){
      @content;
    }
  }
  @if $point == mediumup {
     @media (min-width: 1024px){
      @content;
    }
  }
  @if $point == largeup {
     @media (min-width: 64em){
      @content;
    }
  }

}
