// this file is shared with ckeditor

// Buttons
a.button {
  @include button($primary, $secondary);
  text-decoration: none;
}

ul.no-bullet {
  list-style-type: none;
}


ul.checklist, .checklist ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
        font-size: 18px;
        padding-left: 28px;
        padding-bottom: .5em;
        &:before {
            content: '';
            display: block;
            float: left;
            width: 20px;
            height: 20px;
            content: '\f00c';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
        }
    }
}

ul.linklist, .linklist ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 1em;
    li {
        font-size: 18px;
        margin-bottom: .25em;
        width: 100%;
        display: block;
        a {
          display: block;
          width: 100%;
          padding: 8px 15px;
          background-color: #f4f4f4;
          position: relative;
          color: $black;
          &:after {
            content: '\f054';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            float: right;
            color: $primary;
          }
          &:hover {
            background-color: $primary;
            color: $white;
            &:after {
              color: $white;
            }
          }
        }
    }
}

ol.numbered {
        counter-reset: my-counter;
        list-style: none;
        padding: 0;
        margin-left: 1.5em;
        li {
            margin-bottom: 10px;
            font-size: 18px;
            padding-left: 30px;
            position: relative;

            &:before {
              content: counter(my-counter);
              counter-increment: my-counter;
              color: #7faad6;
              display: block;
              float: left;
              line-height: 22px;
              margin-left: -25px;
              text-align: center;
              font-weight: 700;
              vertical-align: top;
              font-size: 18px;
              margin-top: 3px;
          }
        }
      }
