// forms
form {
  max-width: 90%;
}
form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}
label {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: $black;
  &.form-required {
    &:after {
      color: $alert;
      content: '*';
    }
  }
}
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    border: 1px solid #999;
    box-shadow: 0px 0px 0px 2px transparent;
    -webkit-transition: box-shadow 0.3s;
    transition: all 0.3s ease-in-out;
    max-width: 100%;
    margin-left: 2px;
    // &:hover {

    // }
}

select {
    -webkit-border-radius: 0;
    box-shadow: none;
    border: 0;
    outline: 1px #999 solid;
    background-color: white;
    padding: 10px;
    height: 40px;
    vertical-align: top;
    font-size: 16px;
    -webkit-border-radius: 0px;
    display: inline-block;
    max-width: 100%;
    margin-left: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance:none;
    appearance:none;
    background: url(../images/keyboard_arrow_down.svg) 98% 50% no-repeat;
    background-size: 20px;
}
// IE10
select::-ms-expand {
    display: none;
}

textarea {
    resize: vertical;
    vertical-align: top;
}


button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    font-size: 18px;
    padding: 13px 15px;
    line-height: 24px;
}

input[type='button'], input[type='reset'], input[type='submit'] {
    background: $primary;
    color: #fff;
    display: inline-block;
    padding: 9px 15px;
    line-height: 24px;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    border: 0;
    transition: all 0.25s ease-in-out;
    &:hover {

    }
}
