main section + section {
  padding-top: 1em;
}

.content section:last-child {
  padding-bottom: 3em;
  &.graybg {
    padding-bottom: 0em;
  }
}
.paddedrow {
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}

#sectioncontainer {
  .content-section:first-child {
    &.paddedrow {
      padding-top: 0;
      padding-bottom: 4.5em;
    }
  }
}

.content-section {
  img {
    margin-bottom: 1em;
  }
}

.float-center {
  margin: 0 auto;
  text-align: center;
}

.reverseorder {
  @include breakpoint(mobileonly) {
    .grid-x {
      display: flex !important;
      flex-direction: column-reverse;
    }
  }
}

.button-grouped {
  a {
    display: inline-block;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
    .fas {
      float: left;
      margin-top: 3px;
      padding-right: 5px;
    }
  }
  &.samesize {
    a {
      @media screen and (min-width: 480px) {
        width: 22%;
      }
      @media screen and (min-width: 768px) {
        width: 30%;
      }

    }
  }
}


//fade in
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}
.already-visible {
 transform: translateY(0);
 animation: none;
}

@keyframes come-in {
 to { transform: translateY(0); }
}
