// Buttons
@mixin button($bg, $hoverbg) {
  background: $bg;
  border-radius: 3px;
  color: #fff;
  padding: 13px 15px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  font-weight: 500;
  transition: $transition;
  cursor: pointer;
  border-radius: 0;
  &:hover {
    background: $hoverbg;
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}
