// Typography
body {
  font-family: $headings;
  color: $base-text-color;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {

}

p {
  color: $base-text-color;

}

.content-sections p a {
  color: $base-link-color;
  transition: all 0.3s;
  text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
